<header class="masthead">
  <div class="container h-100">
      <div class="row h-25 align-items-center">
      </div>
    <div class="row h-75 align-items-center">
      <div class="col-12 text-center">
        <h1>Explore Countless Opportunities!</h1>
        <p class="lead">A great starter layout for a landing page</p>
        <!-- Search form -->
        <form>
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="row">
                <div class="form-group col-md-6">
                  <select id="inputState" class="form-control">
                    <option selected>Any...</option>
                    <option>Food</option>
                    <option>Recreation</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <select id="inputState" class="form-control">
                    <option selected>Anywhere...</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-colour-1">Explore!</button>

        </form>
        
      </div>
    </div>
  </div>
</header>
<!--
  <div class="row">
            <div class="form-group col-md-4 offset-md-2">
              <select id="inputState" class="form-control">
                <option selected>Any...</option>
                <option>Food</option>
                <option>Recreation</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <select id="inputState" class="form-control">
                <option selected>Anywhere...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6 offset-md-3">
              <select id="inputState" class="form-control">
                <option selected>Tag...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-colour-1">Go!</button>
-->