<nav class="navbar fixed-top navbar-expand-md" id="navbar">
  <div class="navbar-header">
    <a class="navbar-brand brand-text" routerLink="">
      <img src="../../favicon.ico" width="30" height="30" alt="" />
      JEEVAY LAHORI
    </a>
  </div>
  <div class="w-100 order-3 dual-collapse">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a id="navHome" class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a id="navExplore" class="nav-link" routerLink="explore">Explore</a>
      </li>
    </ul>
  </div>
</nav>


<nav class="navbar fixed-top navbar-mob">
  <div class="navbar-header">
    <a class="navbar-brand brand-text" routerLink="">
      <img src="../../favicon.ico" width="25rem" height="25rem" alt="" />
    </a>
  </div>
  <ul class="navbar-nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#">EXPLORE</a>
    </li>
  </ul>
</nav>